# Casting:int()

>float()

>str()

>The conversion of one data type to another data type is know as casting

The total type of data constructor are given below:-
 
>int()

>float()

>str()

>list()

>tuple()

>set()

>frozenset()

>dict()

>complex()

>bool()

In [3]:
a=10
print(type(a),a)

<class 'int'> 10

Conversion of int() to float() and str() .

In [6]:
b=float(a)
print(type(b),b)

<class 'float'> 10.0

In [14]:
c=str(a)
print(type(c))

<class 'str'>

In [15]:
print(c)

10

Conversion of float() to int() and str() .

In [16]:
a=10.1
print(type(a),a)

<class 'float'> 10.1

In [19]:
b=int(a)
print(type(b),b) # int give round off value during float.because int don't have decimal

<class 'int'> 10

In [20]:
c=str(a)
print(type(c),c)

<class 'str'> 10.1

Conversion of str() to int() and float() .

In [22]:
a=str(krishna) # this error occur because we not explain the data type of krishna.

NameError: name 'krishna' is not defined

In [23]:
a=str('krishna')
a

'krishna'

This type of str not convert into int or float because int or float support numerical value.

>a=str('krishna')  

>a=str('krishna12234')

In [24]:
a=str('2')
print(type(a),a)

<class 'str'> 2

In [25]:
b=int(a)
print(type(b),b)

<class 'int'> 2

In [26]:
c=float(a)
print(type(c),c)

<class 'float'> 2.0

Conversion list() tuple() set() frozenset() and vice-versa.

In [55]:
a=[1,3,4,5,6]
print(type(a),a)

<class 'list'> [1, 3, 4, 5, 6]

In [56]:
b=tuple(a)
print(type(b),b)

<class 'tuple'> (1, 3, 4, 5, 6)

In [57]:
c=set(b)
print(type(c),c)

<class 'set'> {1, 3, 4, 5, 6}

In [58]:
d=frozenset(e)
print(type(e),e)

<class 'list'> [1, 2, 3, 4, 5, 6, 7, 8]

use of casting example:-

In a school online admission is close on 22 july .after closing the admission any one want too admission and school allow him then programmer use casting in that case.

>so,the admission list is [1,2,3,4,5,6,7]

>after after closing the admission programmer convert list into tuple because tuple is immutable data type. (1,2,3,4,5,6,7)

In [51]:
w=(1,2,3,4,5,6,7)
print(type(w),w)

<class 'tuple'> (1, 2, 3, 4, 5, 6, 7)

In [52]:
e=list(w)  # it convert into list because tuple not having data adding method.
print(type(e),e)

<class 'list'> [1, 2, 3, 4, 5, 6, 7]

In [53]:
e.append(8)
print(e)

[1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
p=tuple(e)
print(type(p),p)

<class 'tuple'> (1, 2, 3, 4, 5, 6, 7, 8)