# loop:-
# 1) for   2) while

# 1) for:-

In [1]:
for i in range(5):
    print('HELLO WORLD',i)

HELLO WORLD 0
HELLO WORLD 1
HELLO WORLD 2
HELLO WORLD 3
HELLO WORLD 4

In [1]:
for i in range(4): # range start from zero that why it print upto 3
    print (i,'suraj',end='') 
    print('tanwar')

0 surajtanwar
1 surajtanwar
2 surajtanwar
3 surajtanwar

# Iterable :- a data type which contain magic method/dunder method is called iterable. note :-techanical term def__iter__()
## example:- list,tuple,set,frozenset,dict

In [9]:
a=dict()

In [10]:
dir(a)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [8]:
for i in range(1,15,1):
    print('HELLO WORLD',i)

HELLO WORLD 1
HELLO WORLD 2
HELLO WORLD 3
HELLO WORLD 4
HELLO WORLD 5
HELLO WORLD 6
HELLO WORLD 7
HELLO WORLD 8
HELLO WORLD 9
HELLO WORLD 10
HELLO WORLD 11
HELLO WORLD 12
HELLO WORLD 13
HELLO WORLD 14

In [6]:
for i in range(10,0,-1):
    print('HELLO WORLD',i)

HELLO WORLD 10
HELLO WORLD 9
HELLO WORLD 8
HELLO WORLD 7
HELLO WORLD 6
HELLO WORLD 5
HELLO WORLD 4
HELLO WORLD 3
HELLO WORLD 2
HELLO WORLD 1

# 1)continue (always inside loop)

# 2)break (always inside loop)

# 3)pass (in everyone)

# 1) continue:-

In [12]:
for i in range(5):
    if i==2:
        continue
    print(i,'hello world')

0 hello world
1 hello world
3 hello world
4 hello world

In [14]:
for i in range(16):
    if i==2 or i== 15 or i== 13 : # for more value at one time.
        continue
    print(i,'hello world')

0 hello world
1 hello world
3 hello world
4 hello world
5 hello world
6 hello world
7 hello world
8 hello world
9 hello world
10 hello world
11 hello world
12 hello world
14 hello world

In [14]:
for i in "krishna":
    if i in"rh":
        continue
    print(i,'hello world')

k hello world
i hello world
s hello world
n hello world
a hello world

In [15]:
for i in "krishna":
    if i in["r","h"]:
        continue
    print(i,'hello world')

k hello world
i hello world
s hello world
n hello world
a hello world

# 2)break (always inside loop)

In [17]:
for i in range(5):
    if i==2:
        break            # it break the loop if condition is true
    print(i,'hello world')

0 hello world
1 hello world

In [19]:
for i in "suraj":
    if i in "a,j":
        break
    print('my bad',i)

my bad s
my bad u
my bad r

# 3)pass (in everyone)

 # it is use to pass any block when we having detail about block without error.

In [26]:
r=[1,2,3,45,6,7]
if i==3:
    
else:
    print('go to hell')

IndentationError: expected an indented block after 'if' statement on line 2 (755621963.py, line 4)

In [25]:
r=[1,2,3,45,6,7]
if r==3:
    pass
else:
    print('go to hell')

go to hell

# Pattern:-

> single loop pattern

In [2]:
print('*')
print('**')
print('***')
print('****')
print('*****')

*
**
***
****
*****

In [13]:
for i in range(6):
    print('*'*(i))

*
**
***
****
*****

In [12]:
print(' '*4+'*')
print(' '*3+'**')
print(' '*2+'***')
print(' '*1+'****')
print('*****')

    *
   **
  ***
 ****
*****

In [15]:
for i in range(6):
    print(' '*(5-i)+'*'*(i))

    *
   **
  ***
 ****
*****

In [17]:
for i in range(6,0,-1):
    print(' '*(6-i)+'*'*(i))

******
 *****
  ****
   ***
    **
     *

In [19]:
for i in range(6,0,-1):
    print(' '*(6-i)+'* '*(i))

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [21]:
for i in range(0,7,1):
    print(' '*(6-i)+'* '*(i))

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [27]:
for i in range(5):
    print(' '*(i)+'* '*(4))

* * * *
 * * * *
  * * * *
   * * * *
    * * * *

In [28]:
for i in range(5):
    print('  '*(i)+'* '*(4)) # for more allyngment

* * * *
  * * * *
    * * * *
      * * * *
        * * * *

# pattern using nested for loop :-

In [26]:
for i in range(5):
    for j in range(5):
        if j<4-i:
            print(' ',end='')
        else:
            print('* ',end='')
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [13]:
for i in range(5):
    for j in range(5):
        if j<5-i:
            print('*',end='')
        else:
            print(' ',end='')
    print()

*****
****
***
**
*

In [15]:
for i in range(5):
    for j in range(5):
        if j<4-i:
            print(' ',end='')
        else:
            print('*',end='')
    print()

    *
   **
  ***
 ****
*****

# comprehension :-

> list comprehension

> set comprehension

> frozenset comprehension

> dictionary comprehension

> tuple comprehension

# list comprehension

In [15]:
a=[]
for i in range(5):
    a.append(i)
print(a)

[0, 1, 2, 3, 4]

In [12]:
b=[i for i in range(5)]
print(b)

[0, 1, 2, 3, 4]

# set comprehension

In [35]:
print([i for i in range(5)])

[0, 1, 2, 3, 4]

In [37]:
a=set()
for i in range (5):
    a.add(i)
print(a)

{0, 1, 2, 3, 4}

In [49]:
a={}
print(i for i in range (5))

<generator object <genexpr> at 0x00000208B6C79930>

In [56]:
a=print({i for i in range (5)})

{0, 1, 2, 3, 4}

# frozenset comprehension

In [2]:
a=frozenset()
for i in range (5):
    a=a.union(frozenset({i}))
print(a)

frozenset({0, 1, 2, 3, 4})

In [6]:
frozenset(i for i in range (5) )

frozenset({0, 1, 2, 3, 4})

# tuple comprehension (create gernator object)

In [23]:
a=tuple()
for i in range (5):
    a=a+(i,) 
print(a)

(0, 1, 2, 3, 4)

In [2]:
n=(i for i in range (5))

In [3]:
print(n)

<generator object <genexpr> at 0x0000025C3B427AE0>

In [7]:
next(n)

3

In [8]:
print(tuple(i for i in range (5)))

(0, 1, 2, 3, 4)

# dictionary comprehension

In [14]:
enrollment=[1,2,3,4,5]
name=['suraj','rahul','mohan','sohan','tarun']
for i in enrollment:
    print(i,name)

1 ['suraj', 'rahul', 'mohan', 'sohan', 'tarun']
2 ['suraj', 'rahul', 'mohan', 'sohan', 'tarun']
3 ['suraj', 'rahul', 'mohan', 'sohan', 'tarun']
4 ['suraj', 'rahul', 'mohan', 'sohan', 'tarun']
5 ['suraj', 'rahul', 'mohan', 'sohan', 'tarun']

In [20]:
enrollment=[1,2,3,4,5]
name=['suraj','rahul','mohan','sohan','tarun']
for i,j in zip(enrollment,name):
    print(i,j)

1 suraj
2 rahul
3 mohan
4 sohan
5 tarun

In [6]:
enrollment=[1,2,3,4,5]
name=['suraj','rahul','mohan','sohan','tarun']
for i,j in zip(enrollment,name):
    print(f'{i}:{j}')

1:suraj
2:rahul
3:mohan
4:sohan
5:tarun

In [19]:
enrollment=[1,2,3,4,5]
name=['suraj','rahul','mohan','sohan','tarun']
new_dict={}
for i,j in zip(enrollment,name):
    new_dict.update({i:j})

In [5]:
new_dict

{1: 'suraj', 2: 'rahul', 3: 'mohan', 4: 'sohan', 5: 'tarun'}

In [17]:
new_dict_comp={i:j for i,j in zip(enrollment,name)}

In [18]:
new_dict_comp

{1: 'suraj', 2: 'rahul', 3: 'mohan', 4: 'sohan', 5: 'tarun'}

# 2) while loop:-

## 1. single while loop

## 2. pattern

   > single loop pattern
   
   >multi loop pattern

## 3.break

## 4.continue

## 5.pass

# while loop syntax:-
## intializer
## while condition:
##    print(statment)
##    increment\descrement

In [2]:
i=1
while i<=5:
    print('''hello world''',i)
    i=i+1

hello world 1
hello world 2
hello world 3
hello world 4
hello world 5

In [4]:
i=0
while i<=5:
    print('* '*i)
    i=i+1

*
* *
* * *
* * * *
* * * * *

In [5]:
i=0
while i<=5:
    print('* '*(5-i))
    i=i+1

* * * * *
* * * *
* * *
* *
*

In [12]:
i=0
while i<=5:
    print(' '*(5-i)+'*'*(i))
    i=i+1

    *
   **
  ***
 ****
*****

In [13]:
i=0
while i<=5:
    print(' '*(i)+'*'*(5-i))
    i=i+1

*****
 ****
  ***
   **
    *

In [19]:
i=0
while i<=5:
    print(' '*(5-i)+'*'*(i))
    i=i+1

    *
   **
  ***
 ****
*****

# Nested while :-

In [19]:
i=1
while i<5:
    j=1
    while j<5:
        if j<(5-i):
            print(" ",end='')
        else:
            print('*',end='')
        j=j+1
    print()
    i=i+1

   *
  **
 ***
****

In [20]:
i=1
while i<5:
    j=1
    while j<5:
        if j<(i):
            print(" ",end='')
        else:
            print('*',end='')
        j=j+1
    print()
    i=i+1

****
 ***
  **
   *

In [31]:
i=1
while i<5:
    j=1
    while j<5:
        if j<(5-i):
            print(" ",end='')
        else:
            print('* ',end='')
        j=j+1
    print()
    i=i+1

   *
  * *
 * * *
* * * *

# QNA:- NOT INCLUDE IN LOOP

In [55]:
name=input('enter your name')
print("my name is {}".format(name))

enter your name suraj

my name is suraj

In [59]:
name=input('enter your name')
print(f"my name is {name}")

enter your name suraj

my name is suraj

In [61]:
a='suraj'
a.
a

'suraj'