# PRINT FUNCTION () :- in easy word it is a type a fun. which beautyfy the statment.
# SYNTAX:- Print()
# THERE are 2 hidden operator in print func.
# 1.sep  2.end

In [1]:
#Example:-
print("hello world")

hello world

In [10]:
#note:- in any type of programming we guide the cpu. cpu do't do any thing ourself.
print("banana","mango","orange")

banana mango orange

# There are 2 hidden operator in print()
# 1. sep :- it use for insert things b/w 2 words
# Syntax :- sep="THING"

In [2]:
print("banana","mango","orange",sep="$")

banana$mango$orange

In [6]:
#2. end:- it use to dettact the endding of line
#default value  :- end="\n" (as we see in c and we change the this value)
print("banana","mango","orange",end=" ")
print("suraj tanwar")


#Note:-\n use for change the line.


print("banana","mango","orange",end="\n")
print("suraj tanwar")

banana mango orange suraj tanwar
banana mango orange
suraj tanwar

In [7]:
#Note:- only one thing is use in sep and end
#for example :- 
print("banana","mango","orange",sep="$","%",end="use","pt")
print("banana","mango","orange")

SyntaxError: positional argument follows keyword argument (2779855011.py, line 3)

# String

> string constructor is str().

> string literal is (' '," ",''' ''',""" """).

> string is a set of sequance of character

> string support silicing.

> string support indexing.

> string support concatination.

> string is immutable (also know as hashable)

>string method

In [11]:
#> 2
#1 (" ")
print("hello 
             world")

SyntaxError: unterminated string literal (detected at line 2) (3267049563.py, line 2)

In [11]:
#1 (" ")                                    
print("hello 
             world")

SyntaxError: unterminated string literal (detected at line 2) (3267049563.py, line 2)

In [12]:
#2  (' ')
print('hello 
             world')

SyntaxError: unterminated string literal (detected at line 2) (2327475181.py, line 2)

In [12]:
#2  (' ')
print('hello 
             world')

SyntaxError: unterminated string literal (detected at line 2) (2327475181.py, line 2)

In [13]:
#3 (""" """)
print("""hello world""")

hello world

In [14]:
#3 (""" """)
print("""hello 

               world""")

hello

               world

In [15]:
#4 (''' ''')
print('''hello world''')

hello world

In [16]:
#4 (''' ''')
print('''hello  


              world''')

hello


              world

In [9]:
#> 1
a=str()
print(a) #this not show the literal of string because print beautfy the given func. first

In [ ]:
# 5 types of method to display the literals

In [16]:
#1
a=str()
print(type(a)) #type is use to find the type of data #in which print line is use to identify the data type and 2nd line for display string
a

<class 'str'>

''

In [15]:
#2
b=''
print(type(b))
b

<class 'str'>

''

In [18]:
#3
c=""
c

''

In [19]:
#4
d=""""""
d

''

In [22]:
#5
e=''''''
e

''

# Indexing :- this is use to display requried data from given data.
there are 2 type of indexing
1. +ve Indexing          2.-ve Indexing

1. +ve Indexing:- in which give imagenairy no. place to data character form start with no.0

2. -ve Indexing:- in which give imagenairy no. place to data character form end with no. -1

In [3]:
#for example :-
a="paramjeet"
a

'paramjeet'

In [4]:
a[0] #this is called indexing

'p'

In [9]:
a[0: 8:1] #in this case interperater goes too 8 place.we know that interperater display the value before ourself

'paramjee'

In [6]:
a[0:9:1] #the last 1 inside the [ ] is control the jump of interperater
a[0:9:2]

'prmet'

> string support concatination:- in simple words concatination is a term in which when 2 string is add then the result of addition become string.

In [16]:
A=('Suraj')
B=('Rajput')
A+B

'SurajRajput'

> This type of string are not concatination

In [15]:
#for example:-
r=("Suraj","rajput")
r

('Suraj', 'rajput')

For better understand the method use youtube video.

In [11]:
a=('1,2,3,6,7')
print(a)
type(a)

1,2,3,6,7

str

In [33]:
a=('my name is suraj rajput')
b=a.capitalize()
print(b)

My name is suraj rajput

In [34]:
a=('My Name is Suraj Rajput')
b=a.casefold()
print(b)

my name is suraj rajput

In [40]:
a=('suraj rajput')
b=a.center(50)
print(b)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3854692788.py, line 2)

In [42]:
a=('my name is suraj rajput and my surname is rajput')
b=a.count("rajput")
print(b)

2

In [43]:
a=('my name is suraj rajput')
b=a.encode()
print(b)

b'my name is suraj rajput'

In [44]:
a=('my name is suraj rajput')
b=a.endswith('rajput')
print(b)

True

In [52]:
a=('h\te\tl\tl\to')
b=a.expandtabs(200)
print(b)

h                   e                   l                   l                   o

In [55]:
a=('my name is suraj rajput')
b=a.find("name")
print(b)

3

In [68]:
a=('my income is {rupee}')   # it only support no. not alphabhates and format or format-map is save.
b=a.format(rupee=49.0)
print(b)

my income is 49.0

In [69]:
a=('my name is suraj rajput')
b=a.index("suraj")
print(b)

11

In [77]:
a=('surajrajput200') #alphanum are reperdent those word which have num+alpha
b=a.isalnum()
print(b)

True

In [76]:
a=('mynameissurajrajput') #these does not work on sentance which having space.
b=a.isalpha()
print(b)

True

In [81]:
a=('my name issuraj rajput') # this does not effect by space and it both or single alpha and num.
b=a.isascii()
print(b)

True

In [89]:
a=('10')
b=a.isdecimal() #name is decimal but not support the the decimal and element except no.
print(b)

False

In [95]:
a=('10')
b=a.isdigit() #same as decimal
print(b)

True

In [98]:
a=('surajrajput')
b=a.isidentifier() # when word identify singal meaning
print(b)

True

In [99]:
a=('my name is suraj rajput')
b=a.islower()
print(b)

True

In [101]:
a=('1234567890')
b=a.isnumeric()
print(b)

True

In [102]:
a=('my name is suraj rajput')
b=a.isprintable()
print(b)

True

In [105]:
a=('  ')
b=a.isspace() # it is detact only space.
print(b)

True

In [113]:
a=('Hello')
b=a.istitle() #Check if each word start with an upper case letter
print(b)

True

In [112]:
a=('HELLO SURAJ')
b=a.isupper()  #Check if all the characters in the text are in upper case
print(b)

True

In [127]:
a = ("John", "Peter", "Vicky")

x = '*'.join(myTuple)     #Join all items in a tuple into a string, using a hash character as separator

print(x)

John*Peter*Vicky

In [132]:
a=('my name is suraj rajput')
b=a.ljust(100)
print(b,"ranaji")

my name is suraj rajput                                                                              ranaji

In [135]:
a=('MY NAME IS SURAJ RAJPUT')
b=a.lower()
print(b)

my name is suraj rajput

In [137]:
a=('     ooooooo       ')
b=a.lstrip() #Returns a left trim version of the string
print(b)

ooooooo

In [148]:
a = "Hello Saramjeet!"
b= str.maketrans("S", "P") #Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character
print(a.translate(b))

Hello Paramjeet!

In [151]:
a=('MY NAME IS SURAJ RAJPUT')
b=a.partition("SURAJ")
print(b)

('MY NAME IS ', 'SURAJ', ' RAJPUT')

In [158]:
a=('MY NAME IS SURAJ RAJPUT')
b=a.removeprefix('MY')
print(b)

 NAME IS SURAJ RAJPUT

In [159]:
a=('MY NAME IS SURAJ RAJPUT')
b=a.removesuffix("RAJPUT")
print(b)

MY NAME IS SURAJ

In [160]:
a=('MY NAME IS SURAJ RAJPUT')
b=a.replace("SURAJ",'Paramjeet')
print(b)

MY NAME IS Paramjeet RAJPUT

In [161]:
a=('MY NAME IS SURAJ RAJPUT')
b=a.rfind("SURAJ")
print(b)

11

In [162]:
a=('MY NAME IS SURAJ RAJPUT')
b=a.rindex("SURAJ")
print(b)

11

In [177]:
a= "mango"

b = txt.rjust(20)

print(b, "is bad fruit")

               mango is bad fruit

In [178]:
a=('MY NAME IS SURAJ RAJPUT')
b=a.rpartition("NAME")
print(b)

('MY ', 'NAME', ' IS SURAJ RAJPUT')

In [184]:
a=('MY NAME IS SURAJ RAJPUT')
b=a.rsplit("SURAJ")
print(b)

['MY NAME IS ', ' RAJPUT']

In [188]:
a=('    SURAJRAJPUT   ')
b=a.rstrip(" ")
print(b)

    SURAJRAJPUT

In [195]:
a = "50"

b = txt.zfill(10) #Fills the string with a specified number of 0 values at the beginning

print(b)

0000000050